
body{
	background: #646C79;  /* fallback for old browsers */
	background: linear-gradient(to right, #1F3044, #646C79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FB9039;
	font-family: 'Montserrat', sans-serif;
	zoom: 200%;
}

/* LINKS */
:link{
	color: #FB9039;
	text-decoration: none;
}

:visited{
	color: #FB9093;
	opacity: 0.75;
}

:hover{
	opacity: 1.0;
}

:active{
	font-style: italic;
}

/* CLASSES */
.temp{
    display: flex;
    align-items: center;
    margin-left: -1rem; /* Cancels the left margin for the first element */
}

.temp_banner{
	writing-mode: vertical-lr;
	margin-right: 1rem;
}

.temp_border{
	/*max-width: 300px;*/
	writing-mode: initial;
	margin-left: 1rem;
	/*width: 33%;*/
	height: 100%;
	padding: 1rem;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #FB9039, #1F3044) 1 100%;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.redirect{
	/*display: flex;*/
	align-items:center;
	font-size: 0.5rem;
	opacity: 0.75;
}

.github_logo{
	filter: invert(100%);
}
