{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}
{% block content %}
    <div class="content-container">
        <h1>Contact Me</h1>
        <section class="contact-section">
            <p>Feel free to reach out to me through any of these channels:</p>
            <ul class="contact-list">
                <li>Email: <a href="mailto:davenull311@gmail.com">davenull311@gmail.com</a></li>
                <li>Phone: (717) 512-6904</li>
                <li>GitHub: <a href="https://github.com/davenull311" target="_blank">github.com/davenull311</a></li>
                <li>LinkedIn: <a href="https://linkedin.com/in/davenull" target="_blank">linkedin.com/in/davenull</a></li>
            </ul>
        </section>
    </div>
{% endblock %}