{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="business-card">
        <div class="card-left">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture">
        </div>
        <div class="card-right">
            <h1>Dave Null</h1>
            <p>Software Engineer</p>
            <p>Email: davenull311@gmail.com</p>
            <p>Phone: (717) 512-6904</p>
            <p>GitHub: github.com/davenull311</p>
            <p>LinkedIn: linkedin.com/in/davenull</p>
        </div>
    </div>
{% endblock %}