{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}
{% block content %}
    <div class="card-container">
        <div class="profile-section">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" />
            </div>
            <div class="contact-info">
                <img src="{{ url_for('static', filename='icons/phone.png') }}" alt="Phone"><p>TEXT ME</p>
                <img src="{{ url_for('static', filename='icons/email.png') }}" alt="Email"><p>Dave@DaveNull311.com</p>
                <img src="{{ url_for('static', filename='icons/location.png') }}" alt="Location"><p>Knoxville, TN, USA</p>
            </div>
        </div>

        <div class="info-section">
            <div class="name">
                <h1 class="name">DAVE NULL</h1>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua...
                </p>
            </div>
            <div class="social-icons">
                <!-- Replace these with your own icons/links -->
                <a href="https://www.linkedin.com/in/davenull/"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn" /></a>
                <a href="https://github.com/davenull311"><img src="{{ url_for('static', filename='icons/github.png') }}" alt="GitHub"></a>
                <a href="https://x.com/davenull311"><img src="{{ url_for('static', filename='x-twitter.png') }}" alt="Twitter" /></a>
                <a href="https://dev.to/davenull311"><img src="{{ url_for('static', filename='devto.png') }}" alt="Dev" /></a>
                <a href="https://stackoverflow.com/users/9586535/dave"><img src="{{ url_for('static', filename='icons/stack-overflow.png') }}" alt="Stack Overflow"></a>
                <a href="https://www.figma.com/@davenull"><img src="{{ url_for('static', filename='icons/figma.png') }}" alt="Figma"></a>
            </div>
        </div>
    </div>
{% endblock %}