{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock %}
{% block content %}
    <div class="card-container">
        <div class="profile-section">
            <div class="profile-pic">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" />
            </div>
            <div class="contact-info">
                <div class="contact-tile"><img src="{{ url_for('static', filename='icons/phone.png') }}" alt="Phone">TEXT ME</div>
                <div class="contact-tile"><img src="{{ url_for('static', filename='icons/email.png') }}" alt="Email">Dave@DaveNull311.com</div>
                <div class="contact-tile"><img src="{{ url_for('static', filename='icons/location.png') }}" alt="Location">Knoxville, TN, USA</div>
            </div>
        </div>

        <div class="info-section">
            <div class="name">
                <div class="first-name">DAVE</div>
                <div class="last-name">NULL</div>
            </div>
            <div class="title">Software Engineer</div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua...
                </p>
            </div>
            <div class="social-icons">
                <!-- Replace these with your own icons/links -->
                <div class="social-tile"><a href="https://www.linkedin.com/in/davenull/"><img src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="LinkedIn" /></a></div>
                <div class="social-tile"><a href="https://github.com/davenull311"><img src="{{ url_for('static', filename='icons/github.png') }}" alt="GitHub"></a></div>
                <div class="social-tile"><a href="https://x.com/davenull311"><img src="{{ url_for('static', filename='icons/x-twitter.png') }}" alt="Twitter" /></a></div>
                <div class="social-tile"><a href="https://dev.to/davenull311"><img src="{{ url_for('static', filename='icons/devto.png') }}" alt="Dev" /></a></div>
                <div class="social-tile"><a href="https://stackoverflow.com/users/9586535/dave"><img src="{{ url_for('static', filename='icons/stack-overflow.png') }}" alt="Stack Overflow"></a></div>
                <div class="social-tile"><a href="https://www.figma.com/@davenull"><img src="{{ url_for('static', filename='icons/figma.png') }}" alt="Figma"></a></div>
            </div>
        </div>
    </div>
{% endblock %}